{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                Corrige los errores debajo.
                            </div>
                        {% endif %}
                        
                        <div class="vstack gap-3">
                            {{ form.as_p }}
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    {% if event.id %}Guardar Cambios{% else %}Crear Evento{% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}