{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-5 fw-bold">Eventos y Entradas</h1>
        <p class="fs-4">Descubre, organiza y participa en los mejores eventos. Compra entradas, deja
            comentarios y califica tus experiencias.</p>

            <a href="{% url 'comentarios_organizador' %}" class="btn btn-primary btn-lg mt-3">
                Ver comentarios de mis eventos
            </a>
        <div>
    </div>
</div>
{% endblock content %}
